.reviewsSection {
    margin-top: 100px;
}

.reviewsHeader {
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
}

.noReviews {
    display: block;
    margin-left: 220px;
    margin-top: 50px;
    margin-bottom: 150px;
    font-weight: bold;
    color: var(--japan-red);
    font-size: 2em;
}

.reviewText {
    text-decoration: underline;
    text-underline-offset: 5px;
}