.classCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
    margin-right: 55px;
    min-width: 300px;
    max-width: 400px;
    padding: 50px 100px;
    margin-bottom: 45px;
}

.editIcon {
    position: absolute;
    top: 20px;
    left: 70px;
}

.editBtn {
    cursor: pointer;
    transition: 0.3s;
}

.editBtn:hover {
    transform: scale(1.1);
}

.classCard p {
    font-size: 20px;
    line-height: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.classCard .info {
    max-width: 60%;
    margin-right: 30px;
    margin-bottom: 10px;
}

.info .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.cardPhoto {
    border-radius: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.personInfo {
    margin-left: 20px;
}

.personInfo span {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 32px;
}