.circleTag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background-color: var(--japan-red);
    margin-right: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.circleTag:hover {
    transform: scale(1.1);
}